* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.btn {
    border: 1px solid black;
    color: var(--btn--color);
    background-color: var(--btn--background-color);
    box-shadow: none;
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
        filter: brightness(.9);
    }
}

.btn.primary {
    --btn--background-color: var(--color--orange);
    --btn--color: var(--color--black);
}

.btn.secondary {
    --btn--background-color: var(--color--navy-blue);
    --btn--color: var(--color--white);
}
