
// @todo write your code/ adjust existing code here

footer {
    border-top: 1px solid var(--color--grey);
    margin-top: 20px;
    background-color: var(--footer--background-color);
    color: var(--footer--color);

    .container {
        max-width: var(--page--max-width);
        margin: auto;
        padding: 20px var(--page--side-padding);
    }
}